fastapi
uvicorn
langchain
langchain-community
sentence-transformers
chromadb
unstructured
python-docx
pillow
pytesseract
easyocr
transformers
torch
ollama
python-dotenv
pydantic
numpy
pandas
opencv-python